@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, VITAS!</h1>
<MudForm>
    <MudSelect T="string" Label="Category" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
        <MudSelectItem T="string" Value="@("My Queue")" />
        <MudSelectItem T="string" Value="@("Completed")" />
        <MudSelectItem T="string" Value="@("Pending")" />
    </MudSelect>
</MudForm>
